__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

data/raw/
data/intermediate/*.csv
data/clean/*.csv
data/model/*.csv

plots/**/*.png
plots/**/*.jpg

.DS_Store
*.swp
*.swo
*~
.vscode/settings.json
